# PesaText Backend - Environment Configuration Example
PORT=8000
DATABASE_URL=sqlite://pesatext.db
AFRICAS_TALKING_API_KEY=atsk_1eee486119765858352691161ca5d827b905221a5c9bf85b5faa18229c2142e307dd3c42
AFRICAS_TALKING_USERNAME=sandbox
AFRICAS_TALKING_SHORTCODE=31280
SOROBAN_CONTRACT_ID=CDIMDNUZHI2M3WHYB4CF2ND6O2OLPUKRTNYJ5QHX7AER7TBBHLGDGIV5
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
